<form class="actor-sheet {{ cssClass }}" autocomplete="off">
  <header class="sheet-header">
    {{log actor}}

    <img
      src="{{ actor.img }}"
      data-edit="img"
      title="{{ actor.name }}"
      height="100"
      width="177"
    />
    <div class="brigandyne-header-content">
      <div>
        <label>{{localize 'BRIGANDYNE.Actor.name'}}</label>
        <input name="name" type="text" value="{{ actor.name }}" />
      </div>
      <div class="brigandyne-header-section">
        <div>
          <label>{{localize 'BRIGANDYNE.Actor.carrier'}}</label>
          <input
            name="system.carrier"
            type="number"
            value="{{ actor.system.carrier }}"
          />
        </div>
        <div>
          <label>{{localize 'BRIGANDYNE.Actor.virtue'}}</label>
          <input
            name="system.virtue"
            type="number"
            value="{{ actor.system.virtue }}"
          />
        </div>
        <div>
          <label>{{localize 'BRIGANDYNE.Actor.vice'}}</label>
          <input
            name="system.vice"
            type="number"
            value="{{ actor.system.vice }}"
          />
        </div>
        <div>
          <label>{{localize 'BRIGANDYNE.Actor.archetype'}}</label>
          <input
            name="system.archetype"
            type="number"
            value="{{ actor.system.archetype }}"
          />
        </div>
      </div>
      <div class="brigandyne-header-section">
        <div>
          <label>{{localize 'BRIGANDYNE.Actor.armor'}}</label>
          <div class="brigandyne-header-section">
            <input
              name="system.protection"
              type="number"
              value="{{ actor.system.protection }}"
            />
            /
            <input
              name="system.abilities"
              type="number"
              value="{{ actor.system.abilities }}"
            />
          </div>
        </div>
        <div>
          <label>{{localize 'BRIGANDYNE.Actor.destiny'}}</label>
          <input
            name="system.destiny"
            type="number"
            value="{{ actor.system.destiny }}"
          />
        </div>
      </div>
    </div>
  </header>
  <h2>{{localize 'BRIGANDYNE.Actor.abilities'}}</h2>
  <section class="brigandyne-abilities">
    {{#each actor.system.abilities as |ability|}}
    <div class="brigandyne-ability">
      <label>{{ ability.name }}</label>
      <input
        type="hidden"
        name="system.abilities.{{ @index }}.name"
        value="{{ ability.name }}"
      />
      <input
        name="system.abilities.{{ @index }}.base"
        type="number"
        value="{{ ability.base }}"
      />
      <input
        name="system.abilities.{{ @index }}.modificator"
        type="number"
        value="{{ ability.modificator }}"
      />
      <input
        name="system.abilities.{{ @index }}.carrier"
        type="number"
        value="{{ ability.carrier }}"
      />
      <div class="brigandyne-ability-total">
        {{ calculateAbility ability.base ability.modificator ability.carrier }}
      </div>
    </div>
    {{/each}}
  </section>
  <h2>{{localize 'BRIGANDYNE.Actor.specialities'}}</h2>
  <section class="brigandyne-specialities">
    {{#each actor.system.specialities as |speciality|}}
    <div class="brigandyne-specialitiy">
      <input
        class="brigandyne-specialitiy-name"
        type="text"
        name="system.specialities.{{ @index }}.name"
        value="{{ speciality.name }}"
      />
      <input
        class="brigandyne-specialitiy-modifier"
        name="system.specialities.{{ @index }}.modifier"
        type="number"
        value="{{ speciality.modifier }}"
      />
    </div>
    {{/each}}
  </section>
  <h2>{{localize 'BRIGANDYNE.Actor.talents'}}</h2>
  <section class="brigandyne-talents">
    {{#each actor.system.talents as |talent|}}
    <div class="brigandyne-talent">
      <input
        type="text"
        name="system.talents.{{ @index }}.name"
        value="{{ talent.name }}"
      />
      <textarea name="system.talents.{{ @index }}.description" rows="4">{{
        talent.description
      }}</textarea>
    </div>
    {{/each}}
  </section>
</form>
