<form class="actor-sheet {{ cssClass }}" autocomplete="off">
  {{!-- ----------------------------------------- --}}
  {{!-- Header --}}
  {{!-- ----------------------------------------- --}}
  <header class="sheet-header">
    <img
      src="{{ actor.img }}"
      data-edit="img"
      title="{{ actor.name }}"
      height="100"
      width="177"
    />
    <div class="brigandyne-header-content">
      {{!-- Name --}}
      <div class="brigandyne-header-section">
        <div class="brigandyne-header-name">
          <label>{{localize 'BRIGANDYNE.Actor.name'}}</label>
          <input name="name" type="text" value="{{ actor.name }}" />
        </div>
        <div>
          <label>{{localize 'BRIGANDYNE.Actor.job'}}</label>
          <input name="system.job" type="Text" value="{{ actor.system.job }}" />
        </div>
      </div>

      {{!-- Description --}}
      <div class="brigandyne-header-section">
        <div>
          <label>{{localize 'BRIGANDYNE.Actor.archetype'}}</label>
          <input
            name="system.archetype"
            type="number"
            value="{{ actor.system.archetype }}"
          />
        </div>
        <div>
          <label>{{localize 'BRIGANDYNE.Actor.virtue'}}</label>
          <input
            name="system.virtue"
            type="number"
            value="{{ actor.system.virtue }}"
          />
        </div>
        <div>
          <label>{{localize 'BRIGANDYNE.Actor.vice'}}</label>
          <input
            name="system.vice"
            type="number"
            value="{{ actor.system.vice }}"
          />
        </div>
        <div>
          <label>{{localize 'BRIGANDYNE.Actor.carrier'}}</label>
          <input
            name="system.carrier"
            type="number"
            value="{{ actor.system.carrier }}"
          />
        </div>
      </div>

      {{!-- Stats --}}
      <div
        class="brigandyne-header-section-stats brigandyne-header-section brigandyne-header-section-gap"
      >
        <div>
          <label>{{localize 'BRIGANDYNE.Actor.armor'}}</label>
          <div class="brigandyne-header-section">
            <input
              name="system.cover"
              type="number"
              value="{{ actor.system.cover }}"
            />
            /
            <input
              name="system.protection"
              type="number"
              value="{{ actor.system.protection }}"
            />
          </div>
        </div>
        <div>
          <label>{{localize 'BRIGANDYNE.Actor.health'}}</label>
          <div class="brigandyne-header-section">
            <input
              name="system.health.current"
              type="number"
              value="{{ actor.system.health.current }}"
            />
            <input
              name="system.health.modificator"
              type="number"
              value="{{ actor.system.health.modificator }}"
            />
            <input
              name="system.health.base"
              type="number"
              value="{{ actor.system.health.base }}"
            />
            <input
              name="system.health.line"
              type="number"
              value="{{ actor.system.health.line }}"
            />
          </div>
        </div>
        <div>
          <label>{{localize 'BRIGANDYNE.Actor.composure'}}</label>
          <div class="brigandyne-header-section">
            <input
              name="system.composure.current"
              type="number"
              value="{{ actor.system.composure.current }}"
            />
            <input
              name="system.composure.modificator"
              type="number"
              value="{{ actor.system.composure.modificator }}"
            />
            <input
              name="system.composure.base"
              type="number"
              value="{{ actor.system.composure.base }}"
            />
            <input
              name="system.composure.line"
              type="number"
              value="{{ actor.system.composure.line }}"
            />
          </div>
        </div>
        <div>
          <label>{{localize 'BRIGANDYNE.Actor.initiative'}}</label>
          <div class="brigandyne-header-section">
            <input
              name="system.initiative.modificator"
              type="number"
              value="{{ actor.system.initiative.modificator }}"
            />
            /
            <input
              name="system.initiative.base"
              type="number"
              value="{{ actor.system.initiative.base }}"
            />
          </div>
        </div>
        <div>
          <label>{{localize 'BRIGANDYNE.Actor.destiny'}}</label>
          <input
            name="system.destiny"
            type="number"
            value="{{ actor.system.destiny }}"
          />
        </div>
      </div>

      {{!-- Status --}}
      <div class="brigandyne-header-section brigandyne-header-section-wound">
        <div class="brigandyne-header-wound">
          <label>{{localize 'BRIGANDYNE.Actor.wound'}}</label>
          <input
            name="system.wound"
            type="text"
            value="{{ actor.system.wound }}"
          />
        </div>
        <div class="brigandyne-header-state">
          <label>{{localize 'BRIGANDYNE.Actor.state'}}</label>
          <input
            name="system.state"
            type="text"
            value="{{ actor.system.state }}"
          />
        </div>
        <div>
          <label>{{localize 'BRIGANDYNE.Actor.money'}}</label>
          <div class="brigandyne-header-money">
            <input
              name="system.money.gold"
              type="number"
              value="{{ actor.system.money.gold }}"
            />
            <input
              name="system.money.silver"
              type="number"
              value="{{ actor.system.money.silver }}"
            />
            <input
              name="system.money.copper"
              type="number"
              value="{{ actor.system.money.copper }}"
            />
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- ----------------------------------------- --}}
  {{!-- Abilities --}}
  {{!-- ----------------------------------------- --}}
  <h2>{{localize 'BRIGANDYNE.Actor.abilities'}}</h2>
  <section class="brigandyne-abilities">
    {{#each actor.system.abilities as |ability|}}
    <div class="brigandyne-ability">
      <label>{{ ability.name }}</label>
      <input
        type="hidden"
        name="system.abilities.{{ @index }}.name"
        value="{{ ability.name }}"
      />
      <input
        name="system.abilities.{{ @index }}.base"
        type="number"
        value="{{ ability.base }}"
      />
      <input
        name="system.abilities.{{ @index }}.modificator"
        type="number"
        value="{{ ability.modificator }}"
      />
      <input
        name="system.abilities.{{ @index }}.carrier"
        type="number"
        value="{{ ability.carrier }}"
      />
      <div class="brigandyne-ability-total">
        {{ calculateAbility ability.base ability.modificator ability.carrier }}
      </div>
    </div>
    {{/each}}
  </section>

  {{!-- ----------------------------------------- --}}
  {{!-- Specialities --}}
  {{!-- ----------------------------------------- --}}
  <h2>{{localize 'BRIGANDYNE.Actor.specialities'}}</h2>
  <section class="brigandyne-specialities">
    {{#each actor.system.specialities as |speciality|}}
    <div class="brigandyne-specialitiy">
      <input
        class="brigandyne-specialitiy-name"
        type="text"
        name="system.specialities.{{ @index }}.name"
        value="{{ speciality.name }}"
      />
      <input
        class="brigandyne-specialitiy-modificator"
        name="system.specialities.{{ @index }}.modificator"
        type="number"
        value="{{ speciality.modificator }}"
      />
    </div>
    {{/each}}
  </section>
  <h2>{{localize 'BRIGANDYNE.Actor.talents'}}</h2>
  <section class="brigandyne-talents">
    {{#each actor.system.talents as |talent|}}
    <div class="brigandyne-talent">
      <input
        type="text"
        name="system.talents.{{ @index }}.name"
        value="{{ talent.name }}"
      />
      <textarea name="system.talents.{{ @index }}.description" rows="4">{{
        talent.description
      }}</textarea>
    </div>
    {{/each}}
  </section>
</form>
