{{!-- Name --}}
<div
  class="
{{#if (not display)}}
  hidden
{{/if}}"
>
  <h3>{{ localize 'BRIGANDYNE.Actor.identity' }}</h3>
  <section class="brigandyne-identity">
    <div class="brigandyne-identity-info">
      <div class="brigandyne-header-name">
        <label>{{localize 'BRIGANDYNE.Actor.name'}}</label>
        <input name="name" type="text" value="{{ actor.name }}" />
      </div>
      <div class="brigandyne-motivation">
        <label>{{localize 'BRIGANDYNE.Actor.motivation'}}</label>
        <input
          name="system.motivation"
          type="Text"
          value="{{ actor.system.motivation }}"
        />
      </div>
    </div>
    <div class="brigandyne-small-description">
      <label>{{localize 'BRIGANDYNE.Actor.smallDescription'}}</label>
      <input
        name="system.smallDescription"
        type="Text"
        value="{{ actor.system.smallDescription }}"
      />
    </div>
    <div class="brigandyne-origin">
      <label>{{localize 'BRIGANDYNE.Actor.origin'}}</label>
      <textarea name="system.origin" rows="5">{{
        actor.system.origin
      }}</textarea>
    </div>
  </section>

  <h3>{{ localize 'BRIGANDYNE.Actor.historical' }}</h3>
  <section class="brigandyne-life">
    <div class="brigandyne-language">
      <label>{{localize 'BRIGANDYNE.Actor.language'}}</label>
      <input
        name="system.language"
        type="Text"
        value="{{ actor.system.language }}"
      />
    </div>
    <div class="brigandyne-residual">
      <label>{{localize 'BRIGANDYNE.Actor.residual'}}</label>
      <input
        name="system.residual"
        type="number"
        value="{{ actor.system.residual }}"
      />
    </div>
    <div class="brigandyne-crisis">
      <label>{{localize 'BRIGANDYNE.Actor.crisis'}}</label>
      <input
        name="system.crisis"
        type="number"
        value="{{ actor.system.crisis }}"
      />
    </div>
    <div class="brigandyne-experience">
      <label>{{localize 'BRIGANDYNE.Actor.experience'}}</label>
      <div class="brigandyne-experience-section">
        <input
          name="system.experience.current"
          type="hidden"
          value="{{ actor.system.experience.current }}"
        />
        <input
          name="system.experience.total"
          type="hidden"
          value="{{ actor.system.experience.total }}"
        />
        <input
          name="system.experience.spent"
          type="hidden"
          value="{{ actor.system.experience.spent }}"
        />
        <div class="brigandyne-experience-values">
          {{ actor.system.experience.current }} /
          {{ actor.system.experience.spent }} /
          {{ actor.system.experience.total }}
        </div>
        <a class="brigandyne-xp" data-mult="-1">
          <i class="fa-solid fa-square-minus"></i>
        </a>
        <input name="xp" type="number" value="0" />
        <a class="brigandyne-xp" data-mult="1">
          <i class="fa-solid fa-square-plus"></i>
        </a>
      </div>
    </div>
  </section>

  <section class="brigandyne-notes">
    {{!-----------------------------------------}}
    {{!-- notes --}}
    {{!-----------------------------------------}}
    <div class="brigandyne-note">
      <textarea name="system.experienceDetails" rows="10">{{
        actor.system.experienceDetails
      }}</textarea>
      <textarea name="system.experienceDetails2" rows="10">{{
        actor.system.experienceDetails2
      }}</textarea>
    </div>
  </section>
</div>
