<div
  class="
{{#if (not display)}}
  hidden
{{/if}}
"
>
  {{!--
  <h3>
    {{ localize 'BRIGANDYNE.Actor.spells' }} &nbsp;
    <a class="brigandyne-spell-add"><i class="fa-solid fa-circle-plus"></i></a>
  </h3>
  --}}
  <section class="brigandyne-spells-section">
    {{#each actor.system.spells as |spell|}}
    <div class="brigandyne-spell">
      <div class="brigandyne-spell-name">
        <a
          class="brigandyne-spell-move"
          data-direction="-1"
          data-spell="{{ @index }}"
        >
          <i class="fa-solid fa-caret-left"></i>
        </a>
        <input
          id="spell-name-{{ @index }}"
          type="text"
          name="system.spells.{{ @index }}.name"
          value="{{ spell.name }}"
          data-tooltip="{{ tooltip spell.name 15 }}"
          placeholder="{{ localize 'BRIGANDYNE.Actor.spell.name' }}"
        />
        <a
          class="brigandyne-spell-move"
          data-direction="1"
          data-spell="{{ @index }}"
        >
          <i class="fa-solid fa-caret-right"></i>
        </a>
      </div>
      <div class="brigandyne-spell-type">
        <select
          id="spell-type-{{ @index }}"
          name="system.spells.{{ @index }}.type"
          value="{{ spell.type }}"
        >
          {{#each ../spellTypes as |type|}}
          {{#if (eq type ../type)}}
          <option selected value="{{ type }}">
            {{ localize (concat 'BRIGANDYNE.Actor.spelltype.' type) }}
          </option>
          {{else}}
          <option value="{{ type }}">
            {{ localize (concat 'BRIGANDYNE.Actor.spelltype.' type) }}
          </option>
          {{/if}}
          {{/each}}
        </select>

        <select
          id="spell-difficulty-{{ @index }}"
          name="system.spells.{{ @index }}.difficulty"
        >
          {{#each ../spellDifficulties as |difficulty|}}
          {{#if (eq difficulty ../difficulty)}}
          <option selected value="{{ difficulty }}">{{ difficulty }}</option>
          {{else}}
          <option value="{{ difficulty }}">{{ difficulty }}</option>
          {{/if}}
          {{/each}}
        </select>

        <a class="brigandyne-spell-delete" data-spell="{{ @index }}">
          <i class="fa-solid fa-trash"></i>
        </a>
      </div>

      <div class="brigandyne-spell-infos">
        <div
          class="spell-info {{ ternary (eq spell.type 'trick') 'hidden' '' }}"
        >
          <label
            for="spell-duration-{{ @index }}"
            >{{ localize 'BRIGANDYNE.Actor.spell.duration' }}</label
          >
          <input
            id="spell-duration-{{ @index }}"
            name="system.spells.{{ @index }}.duration"
            type="{{ ternary (eq spell.type 'trick') 'hidden' 'number' }}"
            value="{{ spell.duration }}"
          />
        </div>

        <div
          class="spell-info {{ ternary (eq spell.type 'trick') 'hidden' '' }}"
        >
          <label
            for="spell-range-{{ @index }}"
            >{{ localize 'BRIGANDYNE.Actor.spell.range' }}</label
          >
          <input
            id="spell-range-{{ @index }}"
            name="system.spells.{{ @index }}.range"
            type="{{ ternary (eq spell.type 'trick') 'hidden' 'number' }}"
            value="{{ spell.range }}"
          />
        </div>

        <div
          class="spell-info {{ ternary (eq spell.type 'trick') 'hidden' '' }}"
        >
          <label
            for="spell-resistance-{{ @index }}"
            >{{ localize 'BRIGANDYNE.Actor.spell.resistance' }}</label
          >
          <select
            id="spell-resistance-{{ @index }}"
            name="system.spells.{{ @index }}.resistance"
          >
            {{#each ../spellResistances as |resistance|}}
            {{#if (eq resistance ../resistance)}}
            <option selected value="{{ resistance }}">{{ resistance }}</option>
            {{else}}
            <option value="{{ resistance }}">{{ resistance }}</option>
            {{/if}}
            {{/each}}
          </select>
        </div>
      </div>
      <div>
        <label
          for="spell-formula-{{ @index }}"
          >{{ localize 'BRIGANDYNE.Actor.spell.formula' }}</label
        >
        <textarea
          class="brigandyne-actor-spell-formula"
          id="spell-formula-{{ @index }}"
          name="system.spells.{{ @index }}.formula"
          rows="3"
          data-tooltip="{{ tooltip spell.formula 30 }}"
          >{{ spell.formula }}</textarea
        >
      </div>

      <div>
        <label
          for="spell-description-{{ @index }}"
          >{{ localize 'BRIGANDYNE.Actor.spell.description' }}</label
        >
        <textarea
          id="spell-description-{{ @index }}"
          name="system.spells.{{ @index }}.description"
          rows="6"
          data-tooltip="{{ tooltip spell.description 60 }}"
          >{{ spell.description }}</textarea
        >
      </div>
    </div>
    {{/each}}
    <a class="brigandyne-spell-add"
      ><div class="brigandyne-spell-add-block">
        <i class="fa-solid fa-circle-plus"></i></div
    ></a>
  </section>
</div>
